<extend name="public/base" />
<block name="body">
	<!-- Page Content Wraper Area Start -->
	<<section class="page-content-wrapper">
	<div class="container">
		<div class="row">
			<div class="content-full ptb-100 fix">
				<!-- Left Side Start -->
				<div class="col-md-3">
					<div class="right-area">
						<div class="product-filter">
							<h6>product filter</h6>
							<!-- Category Product -->
							<div class="category mt-50">
								<h4>categories</h4>
								<div class="category-list mt-20">
									<ul>
										<li>
											<a href="#"><i class="zmdi zmdi-chevron-right"></i>Body & Skin Care<span>20</span></a>
										</li>
										<li>
											<a href="#"><i class="zmdi zmdi-chevron-right"></i>Face-Powder<span>26</span></a>
										</li>
										<li>
											<a href="#"><i class="zmdi zmdi-chevron-right"></i>Bridal Make-Up<span>15</span></a>
										</li>
										<li>
											<a href="#"><i class="zmdi zmdi-chevron-right"></i>Accessories<span>22</span></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Category Product -->
							<!-- Tag Widget -->
							<div class="category mt-50">
								<h4>TAGS</h4>
								<div class="tag-list mt-30 text-uppercase">
									<ul>
										<li><a href="#">Message</a></li>
										<li><a href="#">Life</a></li>
										<li><a href="#">spa</a></li>
										<li><a href="#">skin care</a></li>
										<li><a href="#">nail care</a></li>
										<li><a href="#">Body care</a></li>
									</ul>
								</div>
							</div>
							<!-- Tag Widget -->
							<!-- Subcribe Widget -->
							<div class="category mt-40">
								<h4>Subscribe</h4>
								<div class="mt-30 widget-newsletter">
									<p>Lorem ipsum dolor sit amet, love dost   consectetur adipisicing elit, </p>
									<form action="#">
										<input placeholder="Enter Your email" type="text">
										<button type="submit">Send</button>
									</form>
								</div>
							</div>
							<!-- Subcribe Widget -->
							<!-- Recent Widget -->
							<div class="category mt-50">
								<h4>recent post</h4>
								<div class="recent-post mt-30 fix">
									<div class="single-recent-post mb-15">
										<div class="recent-post-thumbnail">
											<img src="__IMG__/arrival/4.jpg" alt="">
										</div>
										<div class="post-detail">
											<div class="post-title">
												<h5><a href="#">Ut enim ad minim nostrud</a></h5>
											</div>
											<div class="post-publish">
												<p class="post-date">
													On 01 Dec 2017
												</p>
											</div>
										</div>
									</div>
									<div class="single-recent-post mb-15">
										<div class="recent-post-thumbnail">
											<img src="__IMG__/arrival/1.jpg" alt="">
										</div>
										<div class="post-detail">
											<div class="post-title">
												<h5><a href="#">Ut enim ad minim nostrud</a></h5>
											</div>
											<div class="post-publish">
												<p class="post-date">
													On 01 Dec 2017
												</p>
											</div>
										</div>
									</div>
									<div class="single-recent-post">
										<div class="recent-post-thumbnail">
											<img src="__IMG__/arrival/3.jpg" alt="">
										</div>
										<div class="post-detail">
											<div class="post-title">
												<h5><a href="#">Ut enim ad minim nostrud</a></h5>
											</div>
											<div class="post-publish">
												<p class="post-date">
													On 01 Dec 2017
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Recent Widget -->
						</div>
						<div class="product-filter mt-50">
							<h6>new arrival</h6>
							<div class="new-arrival-area">
								<!-- Arrival Single -->
								<div class="new-arrival-single mt-50 mb-30">
									<div class="arrival-thumbnail">
										<img src="__IMG__/arrival/1.jpg" alt="" />
									</div>
									<div class="arrival-content">
										<h6><a href="#">Mix Oill Control Cream</a></h6>
										<div class="price-box">
											<span class="old-price">$40.00</span>
											<span class="new-price">$80.00</span>
										</div>
									</div>
								</div>
								<!-- Arrival Single -->
								<!-- Arrival Single -->
								<div class="new-arrival-single mb-30">
									<div class="arrival-thumbnail">
										<img src="__IMG__/arrival/2.jpg" alt="" />
									</div>
									<div class="arrival-content">
										<h6><a href="#">Whitening Powder</a></h6>
										<div class="price-box">
											<span class="old-price">$40.00</span>
											<span class="new-price">$80.00</span>
										</div>
									</div>
								</div>
								<!-- Arrival Single -->
								<!-- Arrival Single -->
								<div class="new-arrival-single mb-30">
									<div class="arrival-thumbnail">
										<img src="__IMG__/arrival/3.jpg" alt="" />
									</div>
									<div class="arrival-content">
										<h6><a href="#">Multi Color Eye Sha-dows</a></h6>
										<div class="price-box">
											<span class="old-price">$40.00</span>
											<span class="new-price">$80.00</span>
										</div>
									</div>
								</div>
								<!-- Arrival Single -->
								<!-- Arrival Single -->
								<div class="new-arrival-single">
									<div class="arrival-thumbnail">
										<img src="__IMG__/arrival/4.jpg" alt="" />
									</div>
									<div class="arrival-content">
										<h6><a href="#">Blashan Bea-uty Blende</a></h6>
										<div class="price-box">
											<span class="old-price">$40.00</span>
											<span class="new-price">$80.00</span>
										</div>
									</div>
								</div>
								<!-- Arrival Single -->
							</div>
						</div>
					</div>
				</div>
				<!-- Left Side End -->
				<!-- Right Side Start -->
				<div class="col-md-9 col-sm-12">
					<div class="blog-left-single mb-30 res-mb-30 res-mb-sm-30 res-blog-mt-50">
						<div class="blg-img">
							<img src="__IMG__/blog/4.jpg" alt="" />
							<a href="#" class="icon_link"></a>
						</div>
						<div class="blog-content">
							<div class="date-athr">
								<span class="icon_profile "></span>
								<h6>eyeshadow box</h6>
								<span class="date">20 Dec, 2017</span>
							</div>
							<div class="blog-content-text">
								<h4><a href="blog-details.html">Get it Hurry with Budget</a></h4>
								<p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.</p>
								<a href="#">read more<span class="icon-left" data-icon="&#x24;"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="blog-left-single mb-30 res-mb-30 res-mb-sm-30">
						<div class="blg-img">
							<img src="__IMG__/blog/1.jpg" alt="" />
							<a href="#" class="icon_link"></a>
						</div>
						<div class="blog-content">
							<div class="date-athr">
								<span class="icon_profile "></span>
								<h6>eyeshadow box</h6>
								<span class="date">20 Dec, 2017</span>
							</div>
							<div class="blog-content-text">
								<h4><a href="blog-details.html">Get it Hurry with Budget</a></h4>
								<p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.</p>
								<a href="#">read more<span class="icon-left" data-icon="&#x24;"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="blog-left-single mb-30 res-mb-30 res-mb-sm-30">
						<div class="blg-img">
							<img src="__IMG__/blog/2.jpg" alt="" />
							<a href="#" class="icon_link"></a>
						</div>
						<div class="blog-content">
							<div class="date-athr">
								<span class="icon_profile "></span>
								<h6>eyeshadow box</h6>
								<span class="date">20 Dec, 2017</span>
							</div>
							<div class="blog-content-text">
								<h4><a href="blog-details.html">Get it Hurry with Budget</a></h4>
								<p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.</p>
								<a href="#">read more<span class="icon-left" data-icon="&#x24;"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="blog-left-single mb-30 res-mb-30 res-mb-sm-30">
						<div class="blg-img">
							<img src="__IMG__/blog/5.jpg" alt="" />
							<a href="#" class="icon_link"></a>
						</div>
						<div class="blog-content">
							<div class="date-athr">
								<span class="icon_profile "></span>
								<h6>eyeshadow box</h6>
								<span class="date">20 Dec, 2017</span>
							</div>
							<div class="blog-content-text">
								<h4><a href="blog-details.html">Get it Hurry with Budget</a></h4>
								<p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.</p>
								<a href="#">read more<span class="icon-left" data-icon="&#x24;"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="blog-left-single mb-30 res-mb-30 res-mb-sm-30">
						<div class="blg-img">
							<img src="__IMG__/blog/2.jpg" alt="" />
							<a href="#" class="icon_link"></a>
						</div>
						<div class="blog-content">
							<div class="date-athr">
								<span class="icon_profile "></span>
								<h6>eyeshadow box</h6>
								<span class="date">20 Dec, 2017</span>
							</div>
							<div class="blog-content-text">
								<h4><a href="blog-details.html">Get it Hurry with Budget</a></h4>
								<p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor inquaerat.</p>
								<a href="#">read more<span class="icon-left" data-icon="&#x24;"></span></a>
							</div>
						</div>
					</div>
				</div>
				<!-- Right Side End -->
				<!-- Page Pagination Start -->
				<div class="col-md-12 col-sm-12">
					<div class="page-pagination text-center pt-55 res-tb-25">
						<ul>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li class="next"><a href="#"><span class="icon-left" data-icon="&#x24;"></span></a></li>
						</ul>
					</div>
				</div>
				<!-- Page Pagination End -->
			</div>
		</div>
	</div>
</section>
</block>