<extend name="public/base" />
<block name="body">
	<section class="page-content-wrapper login-area pt-90 pb-80">
		<div class="container">
			<div class="row">
				<div class="centered-title text-center mb-40">
					<h2>Sign <span class="light-font">Up</span></h2>
					<div class="clear"></div>
				</div>
				<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
					<div class="billing-fields row">
						<p class="form-row col-sm-6">
							<label for="billing_first_name">First Name<abbr title="required" class="required">*</abbr></label>
							<input type="text" name="billing_first_name" id="billing_first_name" class="form-controller">
						</p>
						<p class="form-row col-sm-6">
							<label for="billing_last_name">Last Name<abbr title="required" class="required">*</abbr></label>
							<input type="text" name="billing_last_name" id="billing_last_name" class="form-controller">
						</p>
						<p class="form-row col-sm-12">
							<label for="billing_company">Company Name</label>
							<input type="text" name="billing_company" id="billing_company" class="form-controller">
						</p>
						<p class="form-row col-sm-6">
							<label for="billing_email">Email Address<abbr title="required" class="required">*</abbr></label>
							<input type="text" name="billing_email" id="billing_email" class="form-controller">
						</p>
						<p class="form-row col-sm-6">
							<label for="billing_email">Phone<abbr title="required" class="required">*</abbr></label>
							<input type="text" name="billing_phone" id="billing_phone" class="form-controller">
						</p>
						<p class="form-row col-sm-12">
							<label for="billing_country">Country<abbr title="required" class="required">*</abbr></label>
							<select class="billing_country" id="billing_country" name="billing_country">
								<option value="">Select a country
								<option value="AX">Aland Islands
								<option value="AF">Afghanistan
								<option value="AL">Albania
								<option value="DZ">Algeria
								<option value="AS">American Samoa
								<option value="AD">Andorra
								<option value="AO">Angola
								<option value="AI">Anguilla
								<option value="AQ">Antarctica
								<option value="AG">Antigua and Barbuda
							</select>
						</p>
						<p class="form-row col-sm-12">
							<label for="billing_address_1">Address<abbr title="required" class="required">*</abbr></label>
							<input type="text" name="billing_address_1" id="billing_address_1" placeholder="Street address" class="form-controller">
							<input type="text" name="billing_address_2" id="billing_address_2" placeholder="Apartment, suite, unit etc. (optional)" class="form-controller">
						</p>
						<p class="form-row col-sm-12">
							<label for="billing_city">Town/City<abbr title="required" class="required">*</abbr></label>
							<input type="text" name="billing_city" id="billing_city" class="form-controller">
						</p>
						<p class="form-row col-sm-6">
							<label for="billing_state">State<abbr title="required" class="required">*</abbr></label>
							<select class="billing_state" id="billing_state" name="billing_state">
								<option value="">Select a State
								<option value="AP">Andhra Pradesh
								<option value="AR">Arunachal Pradesh
								<option value="DL">Delhi
								<option value="LD">Lakshadeep
								<option value="PY">Pondicherry (Puducherry)
							</select>
						</p>
						<p class="form-row col-sm-6">
							<label for="billing_postcode">Postcode/zip<abbr title="required" class="required">*</abbr></label>
							<input type="text" name="billing_postcode" id="billing_postcode" placeholder="Postcode/zip" class="form-controller">
						</p>
						<p class="col-sm-12">
							<label class="" for="account_password">Account password<abbr title="required" class="required">*</abbr></label>
							<input type="password" value="" placeholder="Password" id="account_password" name="account_password" class="form-controller">
						</p>
						<p class="col-sm-12">
							<label class="" for="confirm_password">Confirm password<abbr title="required" class="required">*</abbr></label>
							<input type="password" value="" placeholder="Password" id="confirm_password" name="confirm_password" class="form-controller">
						</p>
						<p class="col-sm-12">
							<input type="checkbox" value="forever" id="rememberme" name="rememberme">
							<label class="inline" for="rememberme">I agree <a href="#">Terms & Condition</a></label>
						</p>
						<p class="col-sm-12">
							<input type="submit" value="Register" name="signup" class="theme-button marL0">
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</block>