<header>
    <!-- Header Menu Area -->
    <div class="menu-area mt-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo-area text-center text-uppercase">
                        <a href="index.html"><img src="__IMG__/icon/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="main-menu lemon-bg">
                        <nav>
                            <ul id="nav">
                                <li><a href="/">首页</a></li>
                                <li><a href="{:url('About/index')}">关于我们</a></li>
                                <li><a href="{:url('Shop/index')}">产品列表</a>
                                    <ul>
                                        <li><a href="{:url('Shop/index')}"><i class="arrow_carrot-right"></i> 网格展示</a></li>
                                        <li><a href="{:url('Shop/index')}"><i class="arrow_carrot-right"></i> 列表展示</a></li>
                                    </ul>
                                </li>
                                <li><a href="{:url('Blog/index')}">博客</a></li>
                                <li><a href="javax">PAGES</a>
                                    <ul>
                                        <li><a href="{:url('Checkout/index')}"><i class="arrow_carrot-right"></i>Checkout</a></li>
                                        <li><a href="{:url('Cart/index')}"><i class="arrow_carrot-right"></i>Cart</a></li>
                                        <li><a href="{:url('Account/index')}"><i class="arrow_carrot-right"></i>Account</a></li>
                                        <li><a href="{:url('Login/index')}"><i class="arrow_carrot-right"></i>Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="{:url('Contact/index')}">CONTACT</a></li>
                            </ul>
                        </nav>
                        <!-- Product Cart -->
                        <div class="menu-right-area">
                            <a href="#" class="mini-cart-icon">
                                <i class="icon_cart_alt"></i>
                                <span>2</span>
                            </a>
                            <div class="top-cart-content">
                                <!-- Cart Single -->
                                <div class="media header-middle-checkout">
                                    <div class="media-left check-img">
                                        <a href="#">
                                            <img alt="" src="__IMG__/other/cart-1.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body checkout-content">
                                        <h4 class="media-heading">
                                            <a href="#">Men Fashion Spray</a>
                                            <span title="Remove This Item" class="btn-remove checkout-remove">
														<i class="fa fa-trash"></i>
													</span>
                                        </h4>
                                        <p>1 x $111.00</p>
                                    </div>
                                </div>
                                <!-- Cart Single -->
                                <!-- Cart Single -->
                                <div class="media header-middle-checkout">
                                    <div class="media-left check-img">
                                        <a href="#">
                                            <img alt="" src="__IMG__/other/cart-2.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body checkout-content">
                                        <h4 class="media-heading">
                                            <a href="#">Women Fashion Bag</a>
                                            <span title="Remove This Item" class="btn-remove checkout-remove">
														<i class="fa fa-trash"></i>
													</span>
                                        </h4>
                                        <p>3 x $125.00</p>
                                    </div>
                                </div>
                                <!-- Cart Single -->
                                <div class="actions">
                                    <button type="button" title="Checkout-botton" class="Checkout-botton">
                                        <span>Checkout</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Product Cart -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <block name="slide"></block>
    <!-- Banner Area Start -->
    <div class="banner-area pb-90 pt-160 bg-2">
        <div class="container">
            <div class="row">
                <div class="banner-content text-center text-white">

                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
</header>
<!-- Header Menu Area -->