<extend name="public/base" />
<block name="body">
	<!-- Page Content Wraper Area Start -->
	<div class="page-content-wrapper login-area">
		<section class="about-content ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="about_img res-mb-sm-30">
							<img src="__IMG__/other/about.jpg" class="img-responsive" alt="">
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="about-us-content">
							<h2>About our SHOPZONE</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum.Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Support Area Start -->
		<section class="service-area default-bg ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="service-top">
							<h6>We are unique</h6>
							<h4>Shopzon is supportive online webside for all</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-service mt-50">
							<span class="icon_refresh"></span>
							<h4>3o days return & no hassel</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing eliit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="single-service middle-border mt-50">
							<span class="icon_gift"></span>
							<h4>Free shipping worldwide</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing eliit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-service mt-50">
							<span class="icon_lock_alt"></span>
							<h4>Secure service system</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing eliit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Support Area End -->
		<!-- Client Area Start -->
		<section class="client-area ptb-100">
			<!-- SECTION TITEL -->
			<div class="section-titel style-two text-center mb-115 text-uppercase">
				<h3>WHAT CLIENT-SAY</h3>
			</div>
			<!-- SECTION TITEL -->
			<div class="container">
				<div class="row">
					<div class="client-slider-cursol owl-carousel owl-theme">
						<!-- Client Single -->
						<div class="col-md-12 item">
							<div class="client-slider-single text-center">
								<div class="client-content">
									<img src="__IMG__/client/1.png" alt="" />
									<h3>Anika-Mollik</h3>
									<h5>Beauty- Expart</h5>
									<div class="sin-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ercitation ullamco laboris nisi ut aliquip ex ea co.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Client Single -->
						<!-- Client Single -->
						<div class="col-md-12 item">
							<div class="client-slider-single text-center">
								<div class="client-content">
									<img src="__IMG__/client/2.png" alt="" />
									<h3>KA-Mamun</h3>
									<h5>Beauty- Expart</h5>
									<div class="sin-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ercitation ullamco laboris nisi ut aliquip ex ea co.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Client Single -->
						<!-- Client Single -->
						<div class="col-md-12 item">
							<div class="client-slider-single text-center">
								<div class="client-content">
									<img src="__IMG__/client/1.png" alt="" />
									<h3>Nirob Khan</h3>
									<h5>Beauty- Expart</h5>
									<div class="sin-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ercitation ullamco laboris nisi ut aliquip ex ea co.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Client Single -->
						<!-- Client Single -->
						<div class="col-md-12 item">
							<div class="client-slider-single text-center">
								<div class="client-content">
									<img src="__IMG__/client/2.png" alt="" />
									<h3>Salim Rana</h3>
									<h5>Beauty- Expart</h5>
									<div class="sin-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ercitation ullamco laboris nisi ut aliquip ex ea co.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Client Single -->
					</div>
				</div>
			</div>
		</section>
		<!-- Client Area End -->
	</div>
	<!-- Page Content Wraper Area End -->
</block>