<extend name="public/base" />
<block name="body">
	<!-- Page Content Wraper Area Start -->
	<section class="page-content-wrapper">
		<div class="container">
			<div class="row">
				<div class="content-full pt-100 pb-50 fix">
					<!-- Left Side Start -->
					<div class="col-md-12">
						<div class="tab-content">
							<div class="shop-tab-area">
								<div class="row">
									<!-- Single Product Start -->
									<div class="col-md-4 col-sm-6">
										<div class="single-product style-two mb-50">
											<div class="single-img">
												<a href="#"><img src="__IMG__/shop/1.jpg" alt="" /></a>
												<span class="pro-level">Sale</span>
												<div class="hover-content text-center">
													<ul>
														<li><a href="#" class="icon_refresh"></a></li>
														<li><a href="#" class="icon_cart_alt "></a></li>
														<li><a href="#" class="icon_heart_alt"></a></li>
														<li>
															<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-details mt-20">
												<h4><a href="single-product.html">Sun Skin</a><span>kajol & eyeliner</span></h4>
												<div class="rating-box">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="price-box">
													<span class="old-price">$40.00</span>
													<span class="new-price"> - $80.00</span>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Product End -->
									<!-- Single Product Start -->
									<div class="col-md-4 col-sm-6">
										<div class="single-product style-two mb-50">
											<div class="single-img">
												<a href="#"><img src="__IMG__/shop/2.jpg" alt="" /></a>
												<div class="hover-content text-center">
													<ul>
														<li><a href="#" class="icon_refresh"></a></li>
														<li><a href="#" class="icon_cart_alt "></a></li>
														<li><a href="#" class="icon_heart_alt"></a></li>
														<li>
															<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-details mt-20">
												<h4><a href="single-product.html">Double site Mirror</a><span>Blashan Brush</span></h4>
												<div class="rating-box">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="price-box">
													<span class="new-price">$70.00</span>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Product End -->
									<!-- Single Product Start -->
									<div class="col-md-4 col-sm-6">
										<div class="single-product style-two mb-50">
											<div class="single-img">
												<a href="#"><img src="__IMG__/shop/3.jpg" alt="" /></a>
												<div class="hover-content text-center">
													<ul>
														<li><a href="#" class="icon_refresh"></a></li>
														<li><a href="#" class="icon_cart_alt "></a></li>
														<li><a href="#" class="icon_heart_alt"></a></li>
														<li>
															<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-details mt-20">
												<h4><a href="single-product.html">Punch Clip</a><span>kajol & eyeliner</span></h4>
												<div class="rating-box">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="price-box">
													<span class="new-price">$15.00</span>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Product End -->
									<!-- Single Product Start -->
									<div class="col-md-4 col-sm-6">
										<div class="single-product style-two mb-50">
											<div class="single-img">
												<a href="#"><img src="__IMG__/shop/4.jpg" alt="" /></a>
												<div class="hover-content text-center">
													<ul>
														<li><a href="#" class="icon_refresh"></a></li>
														<li><a href="#" class="icon_cart_alt "></a></li>
														<li><a href="#" class="icon_heart_alt"></a></li>
														<li>
															<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-details mt-20">
												<h4><a href="single-product.html">Beauty Brush</a><span>Blashan Brush</span></h4>
												<div class="rating-box">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="price-box">
													<span class="new-price">$40.00</span>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Product End -->
									<!-- Single Product Start -->
									<div class="col-md-4 col-sm-6">
										<div class="single-product style-two mb-50">
											<div class="single-img">
												<a href="#"><img src="__IMG__/shop/5.jpg" alt="" /></a>
												<div class="hover-content text-center">
													<ul>
														<li><a href="#" class="icon_refresh"></a></li>
														<li><a href="#" class="icon_cart_alt "></a></li>
														<li><a href="#" class="icon_heart_alt"></a></li>
														<li>
															<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-details mt-20">
												<h4><a href="single-product.html">Beauty Brush</a><span>kajol & eyeliner</span></h4>
												<div class="rating-box">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="price-box">
													<span class="new-price"> $50.00</span>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Product End -->
									<!-- Single Product Start -->
									<div class="col-md-4 col-sm-6">
										<div class="single-product style-two mb-50">
											<div class="single-img">
												<a href="#"><img src="__IMG__/shop/6.jpg" alt="" /></a>
												<span class="pro-level">New</span>
												<div class="hover-content text-center">
													<ul>
														<li><a href="#" class="icon_refresh"></a></li>
														<li><a href="#" class="icon_cart_alt "></a></li>
														<li><a href="#" class="icon_heart_alt"></a></li>
														<li>
															<a title="Quick View" href="#" data-toggle="modal" data-target="#productModal" class="icon_search"></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-details mt-20">
												<h4><a href="single-product.html">Beauty Brush</a><span>Blashan Brush</span></h4>
												<div class="rating-box">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="price-box">
													<span class="old-price">$90.00</span>
													<span class="new-price"> - $80.00</span>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Product End -->
								</div>
							</div>
						</div>
					</div>
					<!-- Left Side End -->
				</div>
			</div>
		</div>
	</section>
	<!-- Page Content Wraper Area End -->
</block>