<extend name="public/base" />
<block name="body">
	<section class="page-content-wrapper login-area pb-100">
		<!-- SECTION TITEL -->
		<div class="section-titel style-two text-center mb-115 text-uppercase mt-100">
			<h3>this month’s - top sale</h3>
		</div>
		<!-- SECTION TITEL -->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 res-mb-sm-30">
					<div class="single-address">
						<div class="media">
							<div class="media-left">
								<i class="icon_pin_alt "></i>
							</div>
							<div class="media-body text-left">
								<h2 class="media-heading">Our Location</h2>
								<p>3481 Melrose Place, Beverly Hills <br> CA 90210</p>
							</div>
						</div>
					</div>
					<div class="single-address">
						<div class="media">
							<div class="media-left">
								<i class="icon_mobile "></i>
							</div>
							<div class="media-body text-left">
								<h2 class="media-heading">Call us on</h2>
								<p>(+1) 517 397 7100 <br> (+1) 517 397 7100</p>
							</div>
						</div>
					</div>
					<div class="single-address mb-none">
						<div class="media">
							<div class="media-left">
								<i class="icon_mail_alt "></i>
							</div>
							<div class="media-body text-left">
								<h2 class="media-heading">Email Address</h2>
								<p>info@monalisa.com<br>admin@monalisa.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="contact">
						<form class="form" name="enq" method="post" action="mail.php">
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" name="name" class="form-control" id="first-name" placeholder="Name" required="required">
								</div>
								<div class="form-group col-md-6">
									<input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
								</div>
								<div class="form-group description col-md-12 mbnone">
									<textarea rows="6" name="message" class="form-control" id="description" placeholder="Your Message" required="required"></textarea>
								</div>
								<div class="col-md-12">
									<div class="actions">
										<input type="submit" value="Send message" name="submit" class="btn btn-lg btn-contact-bg" title="Submit Your Message!">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page Content Wraper Area End -->
</block>