<extend name="public/base" />
<block name="body">
	<!-- Page Content Wraper Area Start -->
	<section class="page-content-wrapper login-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-6 col-sm-6 res-mb-25">
					<div class="account-info">
						<form action="#">
							<div class="form-fields">
								<h2>Login</h2>
								<p>
									<label>
										Username or email address
										<span class="required">*</span>
									</label>
									<input type="text">
								</p>
								<p>
									<label>
										Password
										<span class="required">*</span>
									</label>
									<input type="password">
								</p>
							</div>
							<div class="form-action">
								<label>
									<a href="#" class="lost_password">Lost your password?</a>
									<input type="checkbox">
									Remember me
								</label>
								<input value="Login" type="submit">
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-sm-6">
					<div class="form-fields">
						<h2>Register</h2>
						<p>
							<label>Email address  <span class="required">*</span></label>
							<input type="text">
						</p>
						<p>
							<label>Password <span class="required">*</span></label>
							<input type="password">
						</p>
					</div>
					<div class="form-action">
						<input value="Register" type="submit">
					</div>
				</div>
			</div>
		</div>
	</section>
</block>